/* 
use `align-items: stretch` to stretch vertically 
you need to have the body have align-items: stretch to make things fill the whole page
*/

:root {
    --sidebar-color: rgb(37, 37, 37);
    --background-color: rgb(10, 10, 10);
    --active-sidebar-color: rgb(72, 72, 72);
    --passive-sidebar-color: 0.5;
    --accent-color-brighter: #BF0603;
    --accent-color-darker: #8D0801;
    --light-color: #F4D58D;
    --font-color: #ffffff;

    --border-radius-large: 10px;
    --border-radius-small: 5px;

    --views-gap: 5px;
}

html {
    height: 100vh;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: stretch;
}

h2{
    color: var(--font-color); 
}

.sidebar-passive{ 
    background-color: var(--passive-sidebar-color);
    border-radius: var(--border-radius-small);
}

.sidebar-element{
    background-color: var(--passive-sidebar-color);
    border-radius: var(--border-radius-small);
    min-width: 100px; /* need to fix just to make no line breaks instead of fixed min width */
}

.sidebar-element:last-child{
    margin-top: auto;
}


.active{
    margin: 5px;
    padding: 5px;
    box-shadow: 1px 1px 1px 0px #ff67f0;
}

.sidebar-active1{ 
    background-color: var(--active-sidebar-color);
    border-radius: var(--border-radius-small);
    margin: 5px;
    padding: 5px;
    box-shadow: 1px 1px 1px 0px #ff67f0;
}

.sidebar-active2-inner{ 
    background-color: var(--active-sidebar-color);
    border-radius: var(--border-radius-small);
    padding: 5px;
}

.cont{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 1;
}

.maintainer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow:1;
    background-color: var(--sidebar-color);
    border-radius: var(--border-radius-large);
}

.sidebar{
    background-color: var(--sidebar-color);
    display: flex;
    flex-direction: column;

    align-items: stretch;
    padding: 10px;
    gap: 20px;
}

.topbar{
   display: flex; 
    background-color: var(--sidebar-color);
}

.views{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
    
    background-color: var(--background-color);
    border-radius: var(--border-radius-large) 0px 0px 0px; /*top left radius only*/
}

.view{
    display: flex;
    flex-direction: row;
    align-items:stretch;
    justify-content: flex-start;
    flex-grow: 1;
    background-color: var(--sidebar-color);
    border-radius: var(--border-radius-large);
    margin: var(--border-radius-large);
    margin-bottom: 0;
}




.gradient-border {
  position: relative;
  background: linear-gradient(to right, red, purple);
  border-radius: var(--border-radius-large);
  padding: 3px;
}

.gradient-body {
    background: var(--sidebar-color);
}

.gradient-button-body {
    background: var(--sidebar-color);
    border: transparent;
    color: white;
}

.connected-annotation{
    display: flex;
    font-size:small;
    justify-content: flex-end;
}

img:hover {
    box-shadow: 0 0 20px pink;
}

.main-image{
    margin: var(--border-radius-large);
    max-height:20em;
}

.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
 
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  