/* 
use `align-items: stretch` to stretch vertically 
you need to have the body have align-items: stretch to make things fill the whole page
*/

:root {
    --sidebar-color: rgb(37, 37, 37);
    --background-color: rgb(10, 10, 10);
    --active-sidebar-color: rgb(72, 72, 72);
    --passive-sidebar-color: 0.5;
    --accent-color-brighter: #BF0603;
    --accent-color-darker: #8D0801;
    --light-color: #F4D58D;
    --font-color: #ffffff;

    --border-radius-large: 10px;
    --border-radius-small: 5px;

    --views-gap: 5px;
}

html {
    height: 100vh;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: stretch;
}

h2{
    color: var(--font-color); 
}

.sidebar-passive{ 
    background-color: var(--passive-sidebar-color);
    border-radius: var(--border-radius-small);
}

.sidebar-active1{ 
    background-color: var(--active-sidebar-color);
    border-radius: var(--border-radius-small);
    margin: 5px;
    padding: 5px;
box-shadow: 1px 1px 1px 0px #ff67f0;
}

.sidebar-active2-inner{ 
    background-color: var(--active-sidebar-color);
    border-radius: var(--border-radius-small);
    padding: 5px;
}

.cont{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 1;
}

.maintainer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow:1;
    background-color: var(--sidebar-color);
    border-radius: var(--border-radius-large);
}

.sidebar{
    background-color: var(--sidebar-color);
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    padding: 10px;
    gap: 20px;
}

.sidebar:last-child{
    color:#8D0801;
    border: 2px solid orange;
}

.topbar{
   display: flex; 
    background-color: var(--sidebar-color);
}

.views{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
    
    background-color: var(--background-color);
    border-radius: var(--border-radius-large) 0px 0px 0px; /*top left radius only*/
}

.view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: var(--sidebar-color);
    border-radius: var(--border-radius-large);
    margin: var(--border-radius-large);
    margin-bottom: 0;
}


.gradient-border {
  position: relative;
  background: linear-gradient(to right, red, purple);
  border-radius: var(--border-radius-large);
  padding: 3px;
}

.gradient-body {
    background: var(--sidebar-color);
}

.gradient-button-body {
    background: var(--sidebar-color);
    border: transparent;
    color: white;
}

.connected-annotation{
    display: flex;
    font-size:small;
    justify-content: flex-end;
}

img:hover {
    box-shadow: 0 0 20px pink;
}
